* {
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  border: 1px solid gray;
  padding: 1rem 2rem;
}

.input {
  text-align: center;
  padding: 1rem 1rem;
}

input {
  min-height: 30px;
  text-align: center;
  border: 1.5px solid gray;
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

fieldset {
  border: 2px solid rgb(10, 10, 10);
  font-size: 1.2rem;
}